<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/changepass.css">
</head>
<body>

<h2>Change password</h2>

<form action="/change-password" method="post">
  

  <div class="container">
    <label for="psw"><b>Enter Old Password</b></label>
    <input type="password" name="oldpsw" required>  

	<label for="psw"><b>Enter New Password</b></label>
    <input type="password" name="newpsw" required>  
    
    <label for="psw"><b>Confirm new Password</b></label>
    <input type="password" name="newpsw" required>  
    <button type="submit">Submit</button>
  </div>

  <div class="container">
    <a href="/home">Cancel</a>
  </div>
  
</form>

</body>
</html>
