<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="css/forgotpass.css">
 <link rel="stylesheet" href="css/navbar.css">
</head>
<body>

<h2>Forgot password?</h2>

<form action="/forgot-password" method="post">
  

  <div class="container">
    <p>An otp to reset your password will be sent to your registered email.</p>
	<label for="mail"><b>Enter your email</b></label>
    <input type="email" name="email" required>  
   </div>
   
   <div class="container">    
    <button type="submit">Submit</button>
  </div>

  
</form>

</body>
</html>