<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - #website Name</title>
</head>
<body>
    <div id="vis-holder">
        <div id="header-form">
            <div>Sign In</div>
        </div>
        <form action="/loginInfo" method="POST">
            <div id="input-form">
                <div class="containers">
                    <label for="admNo">Admission Number</label>
                    <input name="admNo" class="text-input" type="number" placeholder="Enter Admission Number">
                </div>
                <div class="containers">
                    <label for="password">Password</label>
                    <input name="password" class="text-input" type="password" placeholder="Enter Password">
                </div>
            </div>
            <div id="submit-form">
                <div id="forgot-password">
                    <a href="#forgotPassword">forgot password?</a>
                </div>
                <button id="signin-button" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</body>
</html>