
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/inputFormatter.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - #website Name</title>
</head>
<body>
    <div id="vis-holder">
        <div id="header-form">
            <div>Sign In</div>
        </div>
        <form action="/login" method="POST">
            <div id="input-form">
                <section class="containers">
                    <label for="admNo">Admission No</label>
                    <input id="admNo" type="number" name="admNo" placeholder="Enter Admission Number" autocomplete="username">
                </section>
                <section class="containers">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter Password" autocomplete="current-password">
                </section>
            </div>
            <div id="submit-form">
                <div id="forgot-password">
                    <a href="/forgot-password">forgot password?</a>
                </div>
                <button id="signin-button" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</body>
</html>