<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/login.css">   
    </head>    
    <body>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/my-requests">My Requests</a> 
            <a href="/my-approvals">My Approvals</a>
            <div class="dropdown">
              <button class="dropbtn" onclick="myFunction()">Log in
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content" id="myDropdown">
                <a href="#addordelete">ADD OR DELETE MEMBERS</a>
                <a href="#changeuserpass">CHANGE USERNAME OR PASSWORD</a>
                <a href="#signout"><u>SIGN OUT</u></a>
              </div>
            </div> 
          </nav>
          
        <form>
            <h1 id="login"> LOGIN </h1>
            <div class="container">
                <label for="uname">Username</label> &nbsp;&nbsp; <!-- space-->
                <input type="text" id="username" placeholder="username"></br></br> </br>

                <label for="psw">Password</label> &nbsp;&nbsp;&nbsp;
                <input type="password" id="password" placeholder="password"></br></br>
                
                <span class="psw" text-align:left;> <a href="#">forgot password?</a></span>
                <button type="submit" value="SUBMIT">SUBMIT</button> &nbsp;
            </div>
        </form>
    </body>
</html>