<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/mainhome.css">
<link rel="stylesheet" href="css/cards.css">
</head>
<body>

<nav class="navbar">
     <a href="/">Home</a>
     <a href="/my-requests">My Requests</a> 
    <a href="/my-approvals">My Approvals</a>
   
  <div class="register">
   <a href="#register">REGISTER</a>
  </div> 
</nav>



<h3>Upcoming Events</h3>
<hr>
<div class="row">
  <div class="column">
    <div class="card">
      <h4>IEEE Freshers course - Jagat Singh</h4>
      <hr>
      <p>Organizer:IEEE</p>
      <p>Seminar hall 1(101)</p>
      <b>12/10/20</b>
      <div class="time"><b>12:00 - 14:00</b>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <h4>Lanscape Freshers Course-Jagat Singh</h4>
      <hr>
      <p>Organizer:LANSCAPE</p>
      <p>Seminar hall 1(101)</p>
      <b>12/10/20</b>
      <div class="time"><b>12:00 - 14:00</b>
      </div>
    </div>
  </div>
  
<div class="row">
  <div class="column">
    <div class="card">
      <h4>IEEE Freshers course - Jagat Singh</h4>
      <hr>
      <p>Organizer:IEEE</p>
      <p>Seminar hall 1(101)</p>
      <b>12/10/20</b>
      <div class="time"><b>12:00 - 14:00</b>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <h4>Lanscape Freshers Course-Jagat Singh</h4>
      <hr>
      <p>Organizer:LANSCAPE</p>
      <p>Seminar hall 1(101)</p>
      <b>12/10/20</b>
      <div class="time"><b>12:00 - 14:00</b>
      </div>
    </div>
  </div>
<div class="row">
  <div class="column">
    <div class="card">
      <h4>IEEE Freshers course - Jagat Singh</h4>
      <hr>
      <p>Organizer:IEEE</p>
      <p>Seminar hall 1(101)</p>
      <b>12/10/20</b>
      <div class="time"><b>12:00 - 14:00</b>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <h4>Lanscape Freshers Course-Jagat Singh</h4>
      <hr>
      <p>Organizer:LANSCAPE</p>
      <p>Seminar hall 1(101)</p>
      <b>12/10/20</b>
      <div class="time"><b>12:00 - 14:00</b>
      </div>
    </div>
  </div>
</body>
</html>
