<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet"href ="css/manage.css">
    <title>Manage Users - #websiteName</title>
    <script src="js/manage.js"></script>
    <script src="js/dropdown.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    
</head>

<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a id="request-link" href="/my-requests">My Requests</a>
    <a id="approval-link" href="/my-approvals">My Approvals</a>
    <div class="dropdown">
      <button id="drop" class="dropbtn" onclick="myFunction()">#userName
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <a id="add-or-delete" href="/manage">ADD OR DELETE MEMBERS</a>
        <a href="/change-password">CHANGE PASSWORD</a>
        <a href="/logout"><u>SIGN OUT</u></a>
      </div>
    </div>
  </nav>
    
  <main>
    <section>
      <h3 class="heading"> Unapproved Users </h3>
      <form id="unapprove" action = "/manage/unapproved" method="POST">
        <div class="headbar row" > 
          <div> User Name</div>
          <div> Email </div>
          <div> Designation </div>
          <div> Action </div>
        </div>
      </form>
    </section>
    <section>
      <h3 class="heading"> Subordinates</h3>
      <form id="subordinates" action = "/manage/subordinates" method="POST">
        <div class="headbar row" > 
          <div> User Name</div>
          <div> Email </div>
          <div> Designation </div>
          <div> Action </div>
        </div>
      </form>
    </section>
  </main>
</body>

</html>