<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <script src="js/dropdown.js"></script>
    <script src="js/testCookie.js"></script>
    <title>My Approvals</title>
</head>
<body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/my-requests">My Requests</a> 
      <a href="/my-approvals">My Approvals</a>
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Log in
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <a href="#addordelete">ADD OR DELETE MEMBERS</a>
          <a href="#changeuserpass">CHANGE USERNAME OR PASSWORD</a>
          <a href="/logout"><u>SIGN OUT</u></a>
        </div>
      </div> 
  </nav>
</body>
</html>