<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/myapp.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/approvals_requests.css">
    <script src="js/dropdown.js"></script>
    <script src="js/testCookie.js"></script>
    <title>My Approvals</title>
    
</head>
<body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/my-requests">My Requests</a> 
      <a href="/my-approvals">My Approvals</a>
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Log in
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <a href="#addordelete">ADD OR DELETE MEMBERS</a>
          <a href="#changeuserpass">CHANGE USERNAME OR PASSWORD</a>
          <a href="/logout"><u>SIGN OUT</u></a>
        </div>
      </div> 
  </nav>
  <div class= "pgdivision">
    <div id="head"> Pending Approval </div>
    <div class="headbar">
            <div> Hall Name </div>
            <div> Date and Time </div>
            <div> Event Name </div>
            <div> Status </div>
    </div>
    <div class="section">     
      <button class="accordion">
          <div class="container1">
            <div> Seminar Hall 1 </div>
            <div> 12/10/20 (12:00 - 14:00) </div>
            <div> IEEE Freshers Course  </div>
            <div id="pending"> Pending </div>
          </div>    
      </button>
      <div class="panel">
          <div class="subContainer1">
              <div>Description :Introductory course for freshers</div>
              <div id="approveid">Approved By ID    : 100122</div>
              <div id="napproveid">Next Approved By ID    : 100122</div>
          </div>
        <form action ="/my-appovals" method="post">
          <div class="subContainer2">  
              <button type="submit" name="subject" value="approve"> Accept </button>
              <button type="submit" name="subject" value="decline"> Decline </button>  
          </div>
        </form>  
      </div>
    </div>
    <div class="section">
      <button class="accordion">
          <div class="container1">
              <div> Seminar Hall 2 </div>
              <div> 12/10/20 (12:00 - 14:00) </div>
              <div> Lanscape Freshers Course  </div>
              <div id="pending"> Pending </div>
          </div>    
      </button>
      <div class="panel">
          <div class="subContainer1">										
              <div>Description :Python course for freshers</div>
              <div id="approveid">Approved By ID    : 100122</div>
              <div id="napproveid">Next Approved By ID    : 100122</div>
          </div>
        <form action ="/my-appovals" method="post">
          <div class="subContainer2">  
              <button type="submit" name="subject" value="approve"> Accept </button>
              <button type="submit" name="subject" value="decline"> Decline </button>  
          </div>
        </form>
      </div>  
    </div> 
    <div class="section">      
      <button class="accordion">
        <div class="container1">
            <div> CCF LAB</div>
            <div> 11/10/20 (10:00 - 11:00) </div>
            <div> Lanscape Freshers Course  </div>
            <div id="pending"> Pending </div>
        </div>    
      </button>
      <div class="panel">
        <div class="subContainer1">
          <div>Description :PHP course for freshers</div>
          <div id="approveid">Approved By ID    : 100122</div>
          <div id="napproveid">Next Approved By ID    : 100122</div>
       </div>
        <form action ="/my-appovals" method="post">
          <div class="subContainer2">  
              <button type="submit" name="subject" value="approve"> Accept </button>
              <button type="submit" name="subject" value="decline"> Decline </button>  
          </div>
        </form>
      </div>
    </div>  
  </div>  
  <div class= "pgdivision">
    <div id="head"> My Approval </div>
    <div class="headbar">
            <div> Hall Name </div>
            <div> Date and Time </div>
            <div> Event Name </div>
            <div> Status </div>
    </div>
    <div class="section"> 
      <button class="accordion">
          <div class="container1">
            <div> Seminar Hall 1 </div>
            <div> 12/10/20 (12:00 - 14:00) </div>
            <div> IEEE Freshers Course  </div>
            <div id="approved"> Approved </div>
          </div>    
      </button>
      <div class="panel">
          <div class="subContainer1">
            <div>Description :Introductory course for freshers</div>
            <div id="approveid">Approved By ID    : 100122</div>
            <div id="napproveid">Next Approved By ID    : 100122</div>
          </div>
        <form action ="/my-appovals" method="post">
          <div class="subContainer2">  
              <button type="submit" name="subject" value="approve"> Accept </button>
              <button type="submit" name="subject" value="decline"> Decline </button>  
          </div>
        </form>
      </div>  
    </div>
    <div class="section">     
      <button class="accordion">
          <div class="container1">
              <div> Seminar Hall 2 </div>
              <div> 12/10/20 (12:00 - 14:00) </div>
              <div> Lanscape Freshers Course  </div>
              <div id="pending"> Not approved </div>
          </div>    
      </button>
      <div class="panel">
          <div class="subContainer1">
              <div>Description :Python course for freshers</div>
              <div id="approveid">Approved By ID    : 100122</div>
              <div id="napproveid">Next Approved By ID    : 100122</div>
          </div>
        <form action ="/my-appovals" method="post">
          <div class="subContainer2">  
              <button type="submit" name="subject" value="approve"> Accept </button>
              <button type="submit" name="subject" value="decline"> Decline </button>  
          </div>
        </form>
      </div>  
    </div> 
    <div class="section"> 
      <button class="accordion">
          <div class="container1">
              <div> CCF LAB</div>
              <div> 11/10/20 (10:00 - 11:00) </div>
              <div> Lanscape Freshers Course  </div>
              <div id="approved"> Approved </div>
          </div>    
      </button>
      <div class="panel">
          <div class="subContainer1">
              <div>Description :PHP course for freshers</div>
              <div id="approveid">Approved By ID    : 100122</div>
              <div id="napproveid">Next Approved By ID    : 100122</div>
          </div>
        <form action ="/my-appovals" method="post">
          <div class="subContainer2">  
              <button type="submit" name="subject" value="approve"> Accept </button>
              <button type="submit" name="subject" value="decline"> Decline </button>  
          </div>
        </form>
      </div>
    </div>
  </div>  
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>  
 </body>
 </html>