<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/approvals_requests.css">
  <script src="js/dropdown.js"></script>
  <script src="js/testCookie.js"></script>
  <script src="js/my-app.js"></script>
  <title>My Approvals</title>

</head>

<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/my-requests">My Requests</a>
    <a href="/my-approvals">My Approvals</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="myFunction()">#userName
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <a href="#addordelete">ADD OR DELETE MEMBERS</a>
        <a href="/change-password">CHANGE PASSWORD</a>
        <a href="/logout"><u>SIGN OUT</u></a>
      </div>
    </div>
  </nav>
  <div id="structure">
    <div class="pgdivision">
      <form id="pending-holder"  action="/my-approvals" method="post">
        <div class="head"> Pending Approval </div>
        <div class="headbar">
          <div> Hall Name </div>
          <div> Date and Time </div>
          <div> Event Name </div>
          <div> Status </div>
        </div>


      </form>
    </div>
    <div id="my-approval" class="pgdivision">
      <form action="/my-approvals" method="post">
        <div class="head"> My Approval </div>
        <div class="headbar">
          <div> Hall Name </div>
          <div> Date and Time </div>
          <div> Event Name </div>
          <div> Status </div>
        </div>
      </form>
      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "grid") {
              this.parentNode.style.border = "1px solid #ccc";
              panel.style.display = "none";
            } else {
              this.parentNode.style.border = "1px solid #ccc";
              panel.style.display = "grid";
            }
          });
        }
      </script>
</body>

</html>