<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/myreq.css">
  <script src="js/dropdown.js"></script>
  <title>My Requests</title>
</head>

<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/my-requests">My Requests</a>
    <a href="/my-approvals">My Approvals</a>
    <div class="dropdown">
      <button class="dropbtn" onclick="myFunction()">Log in
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <a href="#addordelete">ADD OR DELETE MEMBERS</a>
        <a href="#changeuserpass">CHANGE USERNAME OR PASSWORD</a>
        <a href="#signout"><u>SIGN OUT</u></a>
      </div>
    </div>
  </nav>
  <div class="container1">
    <a href="/new-request" id="newreq">New request </a>
  </div>
  <div class="container2">
    <div class="container3">
      <div class="heading">
        <div id="hall">Hall Id</div>
        <div id="date-time">Date and Time</div>
        <div id="event">Event </div>
        <div id="status">Status</div>
      </div>
    </div>
    <div id="container4">
      <div class="hall">
        <div id="hall no">Hall id:201 </div>
        <div id="date-time">12/10/20 (12:00 - 14:00) </div>
        <div id="event">IEEE Freshers Course </div>
        <div id="notapproved">Not Approved</div>
      </div>
    </div>
    <div class="description">
      <div class="data">
        <div id="desc">Description :Introductory course for freshers</div>
        <div id="approveid">Approved By ID : 100122</div>
        <div id="napproveid">Next Approved By ID : 100122</div>
      </div>
    </div>
    <div id="container4">
      <div class="hall">
        <div id="hall no">Hall id:101 </div>
        <div id="date-time">12/10/20 (12:00 - 14:00) </div>
        <div id="event">Lanscape Freshers Course </div>
        <div id="approved"> Approved</div>
      </div>
    </div>
    <div class="description">
      <div class="data">
        <div id="desc">Description :Introductory course for freshers</div>
        <div id="approveid">Approved By ID : 100122</div>
        <div id="napproveid">Next Approved By ID : 100122</div>
      </div>
    </div>
    <div id="container4">
      <div class="hall">
        <div id="hall no">Hall id:101 </div>
        <div id="date-time">12/10/20 (12:00 - 14:00) </div>
        <div id="event">Lanscape Freshers Course </div>
        <div id="approved"> Approved</div>
      </div>
    </div>
    <div class="description">
      <div class="data">
        <div id="desc">Description :Introductory course for freshers</div>
        <div id="approveid">Approved By ID : 100122</div>
        <div id="napproveid">Next Approved By ID : 100122</div>
      </div>
    </div>
  </div>
</body>

</html>