<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/newreq.css">
    <script src="js/dropdown.js"></script>
    <title>New Request</title>
</head>
<body>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/my-requests">My Requests</a> 
      <a href="/my-approvals">My Approvals</a>
      <div class="dropdown">
         <button class="dropbtn" onclick="myFunction()">Log in
            <i class="fa fa-caret-down"></i>
         </button>
         <div class="dropdown-content" id="myDropdown">
             <a href="#addordelete">ADD OR DELETE MEMBERS</a>
             <a href="#changeuserpass">CHANGE PASSWORD</a>
             <a href="#signout"><u>SIGN OUT</u></a>
         </div>
        </div>
    </nav>
    
<div class="container">
<form action="/new-request" method="post">


   <div class="row">
        <div class="col-25">
          <label for="date">DATE</label>
        </div>
        <div class="col-25">
          <input type="date" id="date" name="eventDate" 
          value="2020-01-01" max="2025-12-31">
        </div>
    </div>
    
  <div class="row">
        <div class="col-25">
          <label for="time">TIME</label>
        </div>
        <div class="col-25">
          <input type="time" id="time" name="startTime" 
          value="09:00" max="16:15" required>
        </div>
        <div class="col-25">
          <input type="time" id="time" name="endTime" 
          value="09:45" max="16:30" required>
        </div>
   </div>
    
  <div class="row">
        <div class="col-25">
          <label for="hallid">HALL NO</label>
        </div>
        <div class="col-75">
          <select id="hallno" name="hallName">
            <option value="101">101</option>
            <option value="201">201</option>
            <option value="301">301</option>
            <option value="401">401</option>
          </select>
        </div>
   </div>
       
  <div class="row">
        <div class="col-25">
          <label for="eventname">NAME OF THE EVENT</label>
        </div>

        <div class="col-75">
          <input type="text" id="eventname" name="eventName" >
        </div>
  </div>

  <div class="row">
        <div class="col-25">
          <label for="eventdesc">DESCRIPTION OF THE EVENT</label>
        </div>
        <div class="col-75">
          <textarea id="eventdesc" name="eventDesc" style="height:200px"></textarea>
        </div>
  </div>

    <div class="row">
        <input type="submit" value="Submit">
    </div>

    </form>
  </div>
  
  </body>
  </html>