<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/publichome.css">
  <link rel="stylesheet" href="css/cards.css">
  <script src="js/home.js"></script>

</head>

<body>

  <nav class="navbar">
    <div class="right">
      <a href="/register">Register</a>
    </div>
    <div class="right">
      <a href="/login">Login</a>
    </div>
  </nav>
  <main>
    <section>
      <h3 class="headbar">Upcoming Events</h3>
      <div id="upcoming-events" class="row-holder"> </div>
  
    </section>
    <section>
      <h3 class="headbar">Previous Events</h3>
      <div id="previous-events" class="row-holder"></div>
    </section>
  </main>
</body>

</html>