<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/inputFormatter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - #website Name</title>
</head>
<body>
  <div class="header">
    <h2>Registration Form</h2>
    </div>

<div class="container">
  <form action="/register" method="post"  autocomplete="on">


<div class="row">
    <div class="col-25">
        <label for="admNo">Admission No:</label>
    </div>
    <div class="col-75">
        <input type="text"  name="admNo" autocomplete="off" required>
    </div>
</div>

<div class="row">
    <div class="col-25">
        <label for="admNo">Email</label>
    </div>
    <div class="col-75">
        <input type="email"  name="email" autocomplete="off" required>
    </div>
</div>	

<div class="row">
      <div class="col-25">
        <label for="role">Role</label>
      </div>
      <div class="col-75">
        <select  name="role" autocomplete="off" required>
          <option value="teacher">Teacher</option>
          <option value="student">Student</option>
        </select>
      </div>
</div>
	
<div class="row">
      <div class="col-25">
        <label for="supervisor">Supervisor</label>
      </div>
      <div class="col-75">
        <select  name="supervisor" autocomplete="off" required>
          <option value="none">No Supervisor</option>
          <option value="181001">Soniya B(181001)</option>
          <option value="182001">Subbu Surendran(182001)</option>
          <option value="182002">Kuttymalu VK(182002)</option>
          <option value="180001">Rejimoan(180001)</option>
          <option value="180002">Binu Rajan(180002)</option>
        </select>
      </div>
</div>
	
<div class="row">
    <div class="col-25">
        <label for="designation">Designation</label>
    </div>
    <div class="col-75">
        <input type="text"  name="designation" autocomplete="off" required>
    </div>
</div>

<div class="row">
      <div class="col-25">
        <label for="psw">Password</label>
      </div>
      <div class="col-75">
        <input type="password" name="psw" autocomplete="new-password" required>
      </div>
</div>

<div class="row">
      <div class="col-25">
        <label for="psw">Confirm Password</label>
      </div>
      <div class="col-75">
        <input type="password" name="confirmPsw" autocomplete="new-password" required>
      </div>
</div>

    <div class="row">
      <input type="submit" value="Register">
    </div>
  </form>
</div>

</body>
</html>