<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/inputFormatter.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/register.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - #website Name</title>
</head>
<body>
  <div class="header">
    <h2>Registration Form</h2>
    </div>

<div class="container">
  <form action="/register" method="post"  autocomplete="on">


<div class="row">
    <div class="col-25">
        <label for="admNo">Admission No</label>
    </div>
    <div class="col-75">
        <input type="text"  name="admNo" autocomplete="off" required>
    </div>
</div>

<div class="row">
  <div class="col-25">
      <label for="name">Name</label>
  </div>
  <div class="col-75">
      <input type="text"  name="name" autocomplete="off" required>
  </div>
</div>

<div class="row">
    <div class="col-25">
        <label for="email">Email</label>
    </div>
    <div class="col-75">
        <input type="email"  name="email" autocomplete="off" required>
    </div>
</div>	

<div class="row">
      <div class="col-25">
        <label for="role">Role</label>
      </div>
      <div class="col-75">
        <select  name="role" autocomplete="off" required>
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
        </select>
      </div>
</div>
	
<div class="row">
      <div class="col-25">
        <label for="supervisor">Supervisor</label>
      </div>
      <div class="col-75">
        <select  id="supervisor" name="supervisor" autocomplete="off" required>
        </select>
      </div>
</div>
	
<div class="row">
    <div class="col-25">
        <label for="designation">Designation</label>
    </div>
    <div class="col-75">
        <input type="text"  name="designation" autocomplete="off" required>
    </div>
</div>

<div class="row">
      <div class="col-25">
        <label for="psw">Password</label>
      </div>
      <div class="col-75">
        <input type="password" name="psw" autocomplete="new-password" required>
      </div>
</div>

<div class="row">
      <div class="col-25">
        <label for="psw">Confirm Password</label>
      </div>
      <div class="col-75">
        <input type="password" name="confirmPsw" autocomplete="new-password" required>
      </div>
</div>

    <div class="row">
      <input type="submit" value="Register">
    </div>
  </form>
</div>

</body>
</html>