<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="css/resetpass.css">
</head>
<body>

<h2>Reset your password</h2>

<form  method="post">
  

  <div class="container">
	<label for="psw"><b>Enter New Password</b></label>
    <input type="password" name="newpsw" required>  
    
    <label for="psw"><b>Confirm new Password</b></label>
    <input type="password" name="newpsw" required>  
    <button type="submit">Submit</button>
  </div>

  
</form>

</body>
</html>