body{
	margin:auto;
  padding:0px;
  margin-bottom: 50px;
}
#structure{
  padding-left: 10px;
  padding-right:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#newreq{
  justify-self:end;
  padding:3px;
  margin:10px 50px;
  cursor:pointer;
}
.accordion {
  background-color:#eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width:100%;
  border: none;
  text-align: left;
  font-size: 13px;
  transition: 0.4s;
  display:grid;
  display:flex;
  flex-direction:column;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.pgdivision {
  margin-top: 25px;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  width: 95vw;
}  

.headbar {
  margin-top: 10px;
  display:grid;
  background-color:#2F3675;
  padding: 18px;
  max-width: 100%;
  border: none;
  justify-items: center;
  color:white;
  font-size: 15px;
  border:1px solid black;
  outline:none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:50px 80px;
}

.head {
  padding:10px 1px;
  border-bottom : 1px solid black;
}

.container1 {
  display:grid;
  color:black;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:50px 90px;
}

.panel {
  margin:5px ;
  display:none;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  overflow: hidden;
}
.subContainer1{
  margin:4px 20px;
  padding:0px;
  font-size:15px;
}
.subContainer2{
  justify-self: center;
  align-self: center;
}
.status {
  border:1px solid black;
  padding:2px 7px;
  text-align:center;
  box-sizing:border-box;
  height: min-content;
}
#pending{
  background-color:#FFFF00;
}
#approved{
  background-color:#32CD32;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  div.container1 {  
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    font-size:12px;
      }
  div.headbar  {  
    display: none;
  }
  .subContainer1 {
    font-size:10px;
}
  .panel{
    margin:5px;
    grid-template-columns: 190px 10px;
    grid-gap: 55px 50px;
  }
  .pending,.approved {
    width:90px;
    margin-top: 5px;
    padding-top: 4px; 
    padding-bottom: 6px ;
    text-align:center;
    align-self:center;
           }

} 