body{
	margin:auto;
  padding:0px;
}
.structure{
  padding-left: 10px;
  padding-right:10px;
}
#newreq{
  justify-self:end;
  background-color:red;
  padding:3px;
  margin:10px 50px;
  text-decoration:underline;
  cursor:pointer;
  }
.accordion {
  background-color:#eee;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width:99.6%;
  border: none;
  text-align: left;
  font-size: 13px;
  transition: 0.4s;
  display:grid;
  display:flex;
  flex-direction:column;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.pgdivision {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    }  

.headbar {
display:grid;
background-color:#2F3675;
padding: 18px;
width: 96.5%;
border: none;
text-align: center;
color:white;
font-size: 15px;
border:1px solid black;
outline:none;
grid-template-columns:250px 225px 280px 150px;
grid-gap:50px 80px;
}

#head {
padding:10px 1px;
font-style:bold;
}

.container1 {
display:grid;
color:black;
text-align: center;
grid-template-columns: 220px 255px 250px 130px;
grid-gap:50px 90px;
}

.panel {
  padding: 86px 6px;
  margin:5px ;
  display:grid;
  grid-template-rows: 90%;
  grid-template-columns:350px 180px ;
  flex-direction:row;
  grid-gap:100px 150px;
  align-self:center;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.subContainer1{
margin:4px 20px;
padding:0px;
font-size:15px;

}

#pending {
border:1px solid black;
padding:2px;
padding-left:7px;
padding-right:7px;
text-align:center;
background-color:#FFFF00;
box-sizing:border-box;
}

#approved {
border:1px solid black;
padding:2px;
padding-left:7px;
padding-right:7px;
text-align:center;
background-color:#32CD32;
box-sizing:border-box;
}