
 *{
  box-sizing: border-box;
}
main{
  margin: 30px 30px;
}
section{
  margin-bottom: 70px;
}
.row-holder{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  column-gap: 20px;
  row-gap: 30px;
}
.headbar{
  border-bottom:1px solid black;
  padding-bottom: 10px;
}
body {
  font-family: Verdana;
}



.card-holder{
  position: relative;
  overflow: hidden;
}
.collapse{
  z-index: -100;
  position:absolute;
  top: 0;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  text-align: left;
  letter-spacing :1px;
  background-color: #f1f1f1;
  min-height: 250px;
}

.desc{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
  text-align: left;
  letter-spacing :1px;
  background-color: #c42929;
  min-height: 250px;
  position: absolute;
  top:0;
  left: 100%;
  z-index: -100;
  transition: left 0.3s ease;
  transform: translate(-100%);
}

.card-holder:hover .desc{
  z-index: 100;
  left: 0;
  transform: translate(0);

}