body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding:10px 0px;
}
.headbar{
    color: white;
    background-color:#2F3675;
}
main{
    padding:30px 45px;
}
.heading{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 20px;
}
.user{
    background-color: silver;
}
section{
    margin-bottom: 90px;
}
#popup-holder{
    position:fixed;
    display: none;
    text-align: center;
    width: 100%;
    top: 50px;
  }
  #popup{
    border:1px solid black;
    display: inline-block;
    padding:10px;
  }